name: CI/CD with GitOps
on:
  workflow_call:
    inputs:
      app:
        required: false
        type: string
      context:
        required: false
        default: '.'
        type: string
      gh-actions-repo:
        required: false
        default: 'm-wrzesien/gh-actions'
        type: string
      gh-actions-repo-branch:
        required: false
        default: 'master'
        type: string
      gitops-file:
        required: false
        type: string
      gitops-file-tag-pointer:
        required: false
        default: '.image.tag'
        type: string
      gitops-repo:
        required: false
        default: 'm-wrzesien/infra'
        type: string
      gitops-repo-branch:
        required: false
        default: 'master'
        type: string
      image-name:
        required: false
        type: string
      image-tag:
        required: false
        type: string
      mode:
        required: false
        type: string
      registry:
        required: false
        default: 'ghcr.io'
        type: string
    secrets:
      token:
        description: Github token used for reading repo with code and pushing docker image
        required: true
      ssh-key-gitops-repo:
        required: true
        description: SSH key used for writing to repo containg yaml files with docker images

env:
  APP: ${{ inputs.app != '' && inputs.app || github.event.repository.name }}
  GITOPS_FILE: ${{ inputs.gitops-file != '' && inputs.gitops-file || format('k8s/apps/{0}/values.yaml', github.event.repository.name) }}
  GITOPS_REPO_ROOT_PATH: gitops
  IMAGE_NAME: ${{ inputs.image-name != '' && inputs.image-name || github.repository }}
  IMAGE_TAG: ${{ inputs.image-tag != '' && inputs.image-tag || (github.ref == 'refs/heads/master' && format('b{0}', github.run_number) || format('pr{0}-b{1}',github.event.number, github.run_number)) }}
  MODE: ${{ inputs.mode != '' && inputs.mode || (github.ref == 'refs/heads/master' && 'merge' || 'pr') }}

permissions: {}

jobs:
  job:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # needed for ghcr docker image write access
    steps:
      - name: Prepare env variables
        env:
          REGISTRY: ${{ inputs.registry }}
        run: |
          echo "FULL_IMAGE_NAME=${REGISTRY}/${IMAGE_NAME}:${IMAGE_TAG}" >> $GITHUB_ENV
          echo "GITOPS_REPO_FILE=${GITOPS_REPO_ROOT_PATH}/${GITOPS_FILE}" >> $GITHUB_ENV

      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Check out gh-actions code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          path: gh-actions # as `uses` can't use variables/templates, this is specified as literal string
          ref: ${{ inputs.gh-actions-repo-branch }}
          repository: ${{ inputs.gh-actions-repo }}
          persist-credentials: false

      - name: Log in to the Container registry
        uses: ./gh-actions/.github/actions/docker-login
        with:
          registry: ${{ inputs.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.token }}

      - name: Build Docker image
        uses: ./gh-actions/.github/actions/docker-build
        with:
          context: ${{ inputs.context }}
          tag: ${{ env.FULL_IMAGE_NAME }}

      - name: Push Docker image if branch is master
        if: env.MODE == 'merge'
        uses: ./gh-actions/.github/actions/docker-push
        with:
          tag: ${{ env.FULL_IMAGE_NAME }}
        id: docker_push

      - name: Check out gitops repo
        if: env.MODE == 'merge'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          path: ${{ env.GITOPS_REPO_ROOT_PATH }}
          ref: ${{ inputs.gitops-repo-branch }}
          repository: ${{ inputs.gitops-repo }}
          ssh-key: ${{ secrets.ssh-key-gitops-repo }}
          persist-credentials: true # required, as git-auto-commit-action needs to send the commit back

      - name: Bump app version in provided file
        if: env.MODE == 'merge'
        uses: mikefarah/yq@0ecdce24e83f0fa127940334be98c86b07b0c488 # v4.48.1
        env:
          POINTER: ${{ inputs.gitops-file-tag-pointer }}
          TAG: ${{ env.IMAGE_TAG }}@${{ steps.docker_push.outputs.digest }}
        with:
          cmd: yq -i 'eval(strenv(POINTER)) = strenv(TAG)' $GITOPS_REPO_FILE

      - name: Send commit back to gitops repo
        if: env.MODE == 'merge'
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        with:
          branch: ${{ inputs.gitops-repo-branch }}
          commit_message: "chore(k8s): Update ${{ env.APP }} docker tag to ${{ env.IMAGE_TAG }}@${{ steps.docker_push.outputs.digest }}"
          file_pattern: ${{ env.GITOPS_FILE }}
          repository: ${{ env.GITOPS_REPO_ROOT_PATH }}
